* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.js linguist-vendored
public/js/* linguist-vendored
public/css/* linguist-vendored
resources/js/* linguist-documentation
*.blade.php linguist-language=PHP


/.github export-ignore
CHANGELOG.md export-ignore
